.heading
  {
    font-size: 27px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-family: 'Original Surfer', cursive;
    font-weight: bold;
  }

  .note
  {
    font-size: 17px;
    color: black;
    font-weight: bold;
  }

  .copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #CC7722;
    line-height: 2.5;
    text-align: center;
    font-family: 'Original Surfer', cursive;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2.5px ;
 }

 canvas 
  {
    border:5px solid #CC7722;
    border-radius:20px;
    box-shadow:10px 10px 10px grey;
  }